    <div class="session">
      <h2>HOLA, {{firstName}}!</h2>
      <button><a href='/views/cart'>TU CARRITO</a></button>
      
      <form action='/register/logout' method='post'><button type='submit'>LOGOUT</button></form>
    </div>

{{#if userDTOs.isAdmin}}
  <div class="userMenu">
      <div>
      <button><a href='/views/dashboardProducts'>Panel de control de Productos</a></button>
    </div>
    <div>
      <button><a href='/views/users'>Panel de control de Usuarios</a></button>
    </div>
  </div>
{{/if}}


<div class="bienvenido">
  <h2>BIENVENIDO A MI FINAL DE BACKEND</h2>
  <h2>GUILLERMO LUCAS GIRAU - COMISIÓN 51125</h2>
</div>

<p>inicia sesión para comenzar</p>
<button onclick="location.href='/register/login'">LOGIN</button>



</div>

